html{
  background-color: black;
  color: white;
  text-align: center;
}

#port-head{
  background-color: #bb00ff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

a:hover{
  color: #4dff00;
  background-color:#1100ff ;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 125%;
}

img{
  max-width: 33%;
  max-height: 33%;
}

#picdesc{
  font-size: 110%;
}

#japangarden{
  max-width: 35%;
  max-height: 35%;
}